body {
    background-color: grey;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#grid {
    background-color: #fff;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    box-shadow: 2rem 2rem 5rem black;
}

.griditem {
    user-select: none;
}

.title {
    text-align: center;
    font-size: 5rem;
}

.settings {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

#sizelabel,
#btnErase {
    margin-top: 2rem;
    font-size: 1.6rem;
}

#btnErase {
    cursor: pointer;
    border: none;
    border-radius: .5rem;
    transition: .5s;
}

#btnErase:hover {
    transform: scale(1.2);
}

.active {
    background-color: green;
}

button,
input {
    width: 100%;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}

#colorlabel {
    font-size: 1.6rem;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 50px;
    font-size: 20px;
}